<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blogs.mapper.LikeBelittleRecordMapper">
    
    <resultMap type="LikeBelittleRecord" id="LikeBelittleRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="noteId"    column="note_id"    />
        <result property="opType"    column="op_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLikeBelittleRecordVo">
        select id, user_id, note_id, op_type, create_time, update_time from bs_like_belittle_record
    </sql>

    <select id="selectLikeBelittleRecordList" parameterType="LikeBelittleRecord" resultMap="LikeBelittleRecordResult">
        <include refid="selectLikeBelittleRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="noteId != null  and noteId != ''"> and note_id = #{noteId}</if>
            <if test="opType != null "> and op_type = #{opType}</if>
        </where>
    </select>
    
    <select id="selectLikeBelittleRecordById" parameterType="String" resultMap="LikeBelittleRecordResult">
        <include refid="selectLikeBelittleRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLikeBelittleRecord" parameterType="LikeBelittleRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bs_like_belittle_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="noteId != null and noteId != ''">note_id,</if>
            <if test="opType != null">op_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="noteId != null and noteId != ''">#{noteId},</if>
            <if test="opType != null">#{opType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLikeBelittleRecord" parameterType="LikeBelittleRecord">
        update bs_like_belittle_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="noteId != null and noteId != ''">note_id = #{noteId},</if>
            <if test="opType != null">op_type = #{opType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLikeBelittleRecordById" parameterType="String">
        delete from bs_like_belittle_record where id = #{id}
    </delete>

    <delete id="deleteLikeBelittleRecordByIds" parameterType="String">
        delete from bs_like_belittle_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>